<template>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">Simulador de tweets</span>
            <button 
            class="btn pl-4 pr-4 btn-success" 
            :class="{'':!showForm,'btn-danger':showForm}"
            @click="handleClick">{{!showForm?"Nuevo Tweet" : "Cerrar Tweet"}}</button>    
        </div>
    </nav>
</template>

<script lang="ts" setup>
import { defineEmits } from 'vue'

defineProps(['showForm'])
const emit=defineEmits(['handleForm'])

const handleClick=() =>{
    emit("handleForm")
}


</script>

<style scoped>

</style>