<template>
    <div class="container mt-4">
        <div v-for="tweet in props.tweets" :key="tweet.id" class="card mb-4">
            <div class="card-header">{{ tweet.username }}
                <button type="button" class="btn btn-danger position-absolute top-0  end-0" @click="removeTweet(tweet.id)"> Eliminar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                    </svg>
                </button>
            </div>
            <div class="card-body">
                <p class="card-text">{{tweet.body}}</p>
            </div>
            <div class="card-footer text-muted">{{formatDate(tweet.createdAt)}}</div>
        </div>
    </div>
    
</template>

<script lang="ts" setup>
import moment from "moment";
import 'moment/locale/es';

const props=defineProps(['tweets'])
const emit=defineEmits(['deleteTweet'])

const formatDate=(date:Date)=>{
    return moment(date).fromNow();
}

const removeTweet=(id:string)=>{
    emit("deleteTweet",id)
}

</script>

<style lang="scss" scoped>
.tweet{
    position: relative;
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        margin:0;
    }

    &_title{
        position: absolute;
        top: -12px;
        left: 10px;
        background-color: #fff;
        padding: 0 10px;
        font-weight: bold;
    }
    &_message{
        color:grey
    }
    span{
        position: absolute;
        right: 10px;
        bottom: -10px;
        font-size: 12px;
        color:grey;
        background-color: #fff;
        padding: 0 20px;
        border: 1px solid grey;
    }
}


</style>