<template>
        <div class="container tweet-form">
            <form action="">
                <input type="text" class="form-control" placeholder="Tu nombre" v-model="username"/>
                <textarea cols="30" rows="3" class="form-control" placeholder="Escribe tu tweet" v-model="tweeet"></textarea>
                <button type="submit" class="btn btn-primary" @click.prevent="handleClick">Enviar Tweet</button>
            </form>
        </div>
</template>

<script lang="ts" setup>
import { defineEmits,ref,Ref } from 'vue'
import {saveTweetApi} from '../api/tweet'

let username:Ref<string> = ref('');
let tweeet:Ref<string> = ref('');

const emit=defineEmits(['handleForm','reloadList'])

const handleClick=() =>{
    if(!username.value || !tweeet.value) return;
    saveTweetApi(username.value,tweeet.value);
    emit("handleForm");
    emit("reloadList");
}

</script>

<style lang="scss" scoped>
    .tweet-form{
        margin-top: 20px;
        overflow: hidden;

        form{
            margin-bottom: 50px;

            input{
                margin-bottom: 10px;
            }

            button{
                width: 100%;
                margin-top: 10px;
            }
        }
    }
</style>