<template>
<Menu @handleForm="openCloseForm" :showForm="showForm"/>
<TweetForm @handleForm="openCloseForm" @reloadList="reloadTweets" v-if="showForm"/>
<TweetList :tweets="tweets" @deleteTweet="deleteTweet"/>
</template>

<script setup lang="ts">
import { ref,Ref } from 'vue'
import Menu from './components/Menu.vue'
import TweetForm from './components/TweetForm.vue'
import TweetList from './components/TweetList.vue'
import {getTweetsApi,deleteTweetApi} from './api/tweet'

const showForm:Ref<boolean> = ref(false);
let tweets=ref(getTweetsApi());

const reloadTweets=()=>{
    tweets.value=getTweetsApi();
}

// llamadas desde los componentes hijos
const openCloseForm=():void=>{
    showForm.value=!showForm.value;
}

const deleteTweet=(id:string)=>{
    deleteTweetApi(id);
    tweets.value=getTweetsApi();
}

</script>


<style lang="scss" scoped>

</style>
